/*.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}*/

@import './kabelfont.css';

html {
  font-family: Kabel;
}

.row-centered {
  text-align: center !important;
}

.kabel-font-main {
  font-family: Kabel;
  font-size: 24px;
}

.kabel-font-sub {
  font-family: Kabel;
  font-size: 18px;
  margin-top: -5px;
  text-align: center;
}

.selectedStyle {
  background-color: gray;
  color: #fff;
  cursor: pointer;
}

.unSelectedStyle {
  cursor: pointer;
}

.app-header {
  position: fixed;
  margin-top: 0px;
  padding-left: 10px;
  width: 100%;
  z-index: 1000;
  background-color: white;

}

.logo-wrapper {
  margin-left: 5px;
  width: 150px;
}

.title-logo {
  background-color: red;
  border-radius: 4px;
  color: white;
  padding: 3px;
  width: 150px; 
  text-align: center; 
}


.networth-total-box {
  position: absolute;
  right: 0;
  top: 19px;
  height: 55px;
  width: 150px;
  background-color: #d6f1d6; 
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.content-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.total-header {
  text-align: center;
  margin: 2px;
  color: gray;
  font-weight: lighter;
  font-size: 10px;
}

.total-number {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: gray;
  margin-top: -5px;
}

.sub-header {
  color: gray;
  font-weight: lighter;
  text-align: center;
}

.dropdown-menu[aria-labelledby = ddown] {
  min-width: 40px;
  padding: 0px;
  box-shadow: 0 20px 40px rgba(0,0,0, 0.75);
}

.dropdown-menu[aria-labelledby = ddown] > li > a {
  padding: 9px 16px;
  text-align: left;
}


.btn-selections { /* These are the buttons inside the button list */
  width: 40px;
  height: 40px;
  margin: 1px;
  border-radius: 4px;
  color: white;
}

.ddown {
  width: 105px;
  height: 40px;
  border-radius: 4px;
  background-color: white;
  color: gray;
  font-weight: lighter;
  padding-left: 15px;
  padding-right: auto;
}



/* --- Navigation Tabs --- */

#asset-tabs {
  margin-top: 109px;
  margin-left: -15px;

}

.tab-content {
  margin-top: 10px;
  margin-left: 10px;
}

.nav-tabs {
  position: fixed;
  z-index: 1000;
  background-color: white;
  width: 100%;
}

.nav {
  padding-left: 25px !important;
}

.nav-tabs > li {
  font-family: Kabel;
  font-size: 12px;
}

@media (max-width: 327px) {

  .ddown {
    width: 95px;
    font-size: 12px;
  }

  .networth-total-box {
    width: 100px;
  }

  .total-number {
    font-size: 18px;
    margin-top: 0px;
  }
}