

/*@font-face {
	font-family: 'Kabel';
	src: url('./fonts/KabelBook.eot');
	src: url('./fonts/KabelBook.eot?#iefix') format('embedded-opentype'),
		url('./fonts/KabelBook.woff2') format('woff2'),
		url('./fonts/KabelBook.woff') format('woff'),
		url('./fonts/KabelBook.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}*/

body {
  margin: 0;
  padding: 0;
  font-family: Kabel;
}

h3 {
  font-family: Kabel;
}