/*.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}*/

@import 'kabelfont.css';

html {
  font-family: Kabel;
}

.kabel-font-main {
  font-family: Kabel;
  font-size: 24px;
}

.kabel-font-sub {
  font-family: Kabel;
  font-size: 18px;
  margin-top: -5px;
}

.selectedStyle {
  background-color: gray;
  color: #fff;
  cursor: pointer;
}

.nav-tabs > li {
  font-family: Kabel;
  font-size: 12px;
}

.unSelectedStyle {
  cursor: pointer;
}

.app-header {
  position: fixed;
  margin-top: 0px;
  padding-left: 10px;
  width: 100%;
  z-index: 1000;
  background-color: white;

}

.networth-total-box {
  position: absolute;
  right: 0;
  top: 16px;
  height: 55px;
  width: 150px;
  background-color: #d6f1d6; 
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  /*border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;*/
}

.content-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.total-header {
  text-align: center;
  margin: 2px;
  color: gray;
  font-weight: lighter;
}

.sub-header {
  color: gray;
  font-weight: lighter;
}

.property-title {
  width: 60px;
  height: 40px;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.subproperty-title {
  width: 60px;
  height: 40px;
  border-radius: 4px;
  color: gray;
  text-align: center;
  border: 1px solid lightgray;
}

.subproperty-title > p {
  padding: 8px;
}

.property-title > p {
  padding: 8px;
}

.property-title-container {
  width: 60px;
  height: 40px;
  margin: 5px;
  float: left;
  font-family: Kabel;
}

.subproperty-title-container {
  width: 40px;
  height: 40px;
  margin: 5px;
  float: left;
}

.property-values-container {
  margin: 5px;
  float: left;
}

.property-value-total-box-container {
  width: 60px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 5px;
  float: left;
}

.value-amount {
  font-size: 14px;
  text-align: center;
  margin: 8px;
  color: gray;
  font-weight: 300;
}

.properties-item {
  padding-bottom: 0px;
}

.property-item-list-container {
  margin-top: 5px;
  padding-top: 50px;
}

.subproperty-item-list-container {
  margin-top: 10px;
}

.owned-box {
  border: 2px solid green;
}

.mortgaged-box {
  border: 2px solid red;
}

.houses {
  color: green;
}

.hotels {
  color: red;
}

.dropdown-menu[aria-labelledby = ddown] {
  min-width: 40px;
  padding: 0px;
  box-shadow: 0 20px 40px rgba(0,0,0, 0.75);
}

.dropdown-menu[aria-labelledby = ddown] > li > a {
  padding: 9px 16px;
  text-align: left;
}


.btn-selections { /* These are the buttons inside the button list */
  width: 40px;
  height: 40px;
  margin: 1px;
  border-radius: 4px;
  color: white;
}

.ddown {
  width: 95px;
  height: 40px;
  border-radius: 4px;
  background-color: blue;
  text-align: center;
}

#asset-tabs {
  margin-top: 100px;

}

.tab-content {
  margin-top: 10px;
}

.nav-tabs {
  position: fixed;
  z-index: 1000;
  background-color: white;
  width: 100%
}

.nav {
  padding-left: none;
}

/* --- Property Colors --- */

.brown {
  background-color: rgb(166, 44, 43);
}

.light-blue {
  background-color: rgb(170, 224, 250);
}

.purple {
  background-color: rgb(217, 58, 150);
}

.orange {
  background-color: rgb(247, 148, 29);
}

.red {
  background-color: rgb(237, 27, 36);
}

.yellow {
  background-color: rgb(244, 233, 0);
}

.green {
  background-color: rgb(31, 178, 90);
}

.blue {
  background-color: rgb(0, 114, 186);
}